@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 4, 67, 92;
  --background-start-rgb: 227, 254, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  row-gap: 4rem;
  text-align: center;
}
